<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <!-- <p>parameter: {{parameter}}</p> -->
      <table>
        <thead>
          <tr>
            <!-- <th>ID</th> -->
            <th>Kontrolgenstande</th>
            <th>Kontrolplan ID</th>
            <th colspan="2">Aktør</th>
            <th v-show="showSelect">Udgivelsesdato</th>
            <th v-show="showSelect">Version</th>
            <th colspan="2" v-show="showSelect">Kontroltype</th>
            <th colspan="2" v-show="showSelect">Kontrolniveau</th>
            <th v-show="showSelect">Stikprøvekontrol</th>
            <th v-show="showSelect">Rev.dato</th>
          </tr>
          <tr class="headline">
            <th colspan="2" class="left-align">Design</th>
            <th>Design/Projektering</th>
            <th>Udførsel</th>
            <th v-show="showSelect"></th>
            <th v-show="showSelect"></th>
            <th v-show="showSelect">Design/Projektering</th>
            <th v-show="showSelect">Udførsel</th>
            <th v-show="showSelect">Design/Projektering</th>
            <th v-show="showSelect">Udførsel</th>
            <th v-show="showSelect"></th>
            <th v-show="showSelect"></th>
          </tr>

          <!-- table row for auto completion -->
          <tr class="headline">
            <th colspan="2"></th>
            <th>
              <select
                v-on:change="changeValues('selectedAktorDesignValue', 'aktorDesignValues')"
                v-model="selectedAktorDesignValue"
              >
                <option
                  v-for="option in aktørData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th>
              <select
                v-on:change="changeValues('selectedAktorUdforselValue', 'aktorUdforselValues')"
                v-model="selectedAktorUdforselValue"
              >
                <option
                  v-for="option in aktørData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <input
                type="date"
                v-on:input="changeValues('udgivelsesDato', 'udgivelsesDatoValues')"
                v-model="udgivelsesDato"
              />
            </th>
            <th v-show="showSelect">
              <select
                v-on:change="changeValues('selectedVersion', 'versionValues')"
                v-model="selectedVersion"
              >
                <option
                  v-for="option in versionData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <select
                v-on:change="changeValues('selectedKontrolType1', 'kontrolTypeValues1')"
                v-model="selectedKontrolType1"
              >
                <option
                  v-for="option in kontrolTypeData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <select
                v-on:change="changeValues('selectedKontrolType2', 'kontrolTypeValues2')"
                v-model="selectedKontrolType2"
              >
                <option
                  v-for="option in kontrolTypeData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <select
                v-on:change="changeValues('selectedKontrolNiveau1', 'kontrolniveauValues1')"
                v-model="selectedKontrolNiveau1"
              >
                <option
                  v-for="option in kontrolniveauData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <select
                v-on:change="changeValues('selectedKontrolNiveau2', 'kontrolniveauValues2')"
                v-model="selectedKontrolNiveau2"
              >
                <option
                  v-for="option in kontrolniveauData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <select
                v-on:change="changeValues('selectedStikprove', 'stikproveValues')"
                v-model="selectedStikprove"
              >
                <option
                  v-for="option in stikproveData"
                  :key="option.id"
                  :value="option"
                >
                  {{option}}
                </option>
              </select>
            </th>
            <th v-show="showSelect">
              <input
                type="date"
                v-on:input="changeValues('revDato', 'revDatoValues')"
                v-model="revDato"
              />
            </th>
          </tr>
        </thead>

        <!-- første række -->
        <tbody>
          <tr v-for="item in filteredData('designTexts')" :key="item.id">
            <td>
              <label :for="item.id">
                <input
                  type="checkbox"
                  :id="item.id"
                  :name="item.id"
                  v-model="checkboxValues[item.id]"
                />
                {{ item.description }}
              </label>
            </td>
            <td>{{ item.kontrolplansId }}</td>
            <td>
              <form>
                <input v-model="aktorDesignValues[item.id]" />
              </form>

              <!-- <select name="aktorer" id="aktorer" multiple>
                <option value="1">aktør 1</option>
                <option value="1">aktør 1</option>
              </select> -->
            </td>
            <td></td>
            <td>
              <form>
                <input v-model="udgivelsesDatoValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="versionValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues1[item.id]" />
              </form>
            </td>
            <td></td>
            <td>
              <form>
                <input v-model="kontrolniveauValues1[item.id]" />
              </form>
            </td>
            <td></td>
            <td>
              <form>
                <input v-model="stikproveValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="revDatoValues[item.id]" />
              </form>
            </td>

            <!-- overskrifter anden række -->
          </tr>
        </tbody>

        <tr class="headline">
          <th colspan="3" class="left-align">Flugtvejs- og indsatsforhold</th>
          <th></th>
          <th></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
        </tr>

        <!-- -------------  anden række---------------------- -->

        <tbody>
          <tr v-for="item in filteredData('flugtvejsData')" :key="item.id">
            <!-- <td>{{ item.label }}</td> -->
            <td>
              <label :for="item.id">
                <input type="checkbox" :id="item.id" :name="item.id" />
                {{ item.description }}
              </label>
            </td>
            <td>{{ item.kontrolplansId }}</td>
            <td>
              <form>
                <input v-model="aktorDesignValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="aktorUdforselValues[item.id]" />
              </form>
            </td>

            <td>
              <form>
                <input v-model="udgivelsesDatoValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="versionValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="stikproveValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="revDatoValues[item.id]" />
              </form>
            </td>

            <!-- tredje række overskrifter -->
          </tr>
        </tbody>

        <tr class="headline">
          <th colspan="3" class="left-align">Bygningsdele</th>
          <th></th>
          <th></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
        </tr>

        <!-- trejde række -->

        <tbody>
          <tr v-for="item in filteredData('Bygningsdele')" :key="item.id">
            <!-- <td>{{ item.label }}</td> -->
            <td>
              <label :for="item.id">
                <input type="checkbox" :id="item.id" :name="item.id" />
                {{ item.description }}
              </label>
            </td>
            <td>{{ item.kontrolplansId }}</td>
            <td>
              <form>
                <input v-model="aktorDesignValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="aktorUdforselValues[item.id]" />
              </form>
            </td>

            <td>
              <form>
                <input v-model="udgivelsesDatoValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="versionValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="stikproveValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="revDatoValues[item.id]" />
              </form>
            </td>

            <!-- fjerde række overskrifter -->
          </tr>
        </tbody>

        <tr class="headline">
          <th colspan="3" class="left-align">
            Installationer og håndslukningsudstyr
          </th>
          <th></th>
          <th></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
        </tr>

        <!-- fjerde række -->

        <tbody>
          <tr
            v-for="item in filteredData('Håndslukningsudstyr')"
            :key="item.id"
          >
            <!-- <td>{{ item.label }}</td> -->
            <td>
              <label :for="item.id">
                <input type="checkbox" :id="item.id" :name="item.id" />
                {{ item.description }}
              </label>
            </td>
            <td>{{ item.kontrolplansId }}</td>
            <td>
              <form>
                <input v-model="aktorDesignValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="aktorUdforselValues[item.id]" />
              </form>
            </td>

            <td>
              <form>
                <input v-model="udgivelsesDatoValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="versionValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="stikproveValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="revDatoValues[item.id]" />
              </form>
            </td>

            <!-- femte række overskrifter -->
          </tr>
        </tbody>

        <tr class="headline">
          <th colspan="3" class="left-align">
            Brandtekniske installationer med akkrediteret funktionsafprøvning
          </th>
          <th></th>
          <th></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
          <th v-show="showSelect"></th>
        </tr>

        <!-- femte række -->

        <tbody>
          <tr
            v-for="item in filteredData('Funktionsafprøvning')"
            :key="item.id"
          >
            <!-- <td>{{ item.label }}</td> -->
            <td>
              <label :for="item.id">
                <input type="checkbox" :id="item.id" :name="item.id" />
                {{ item.description }}
              </label>
            </td>
            <td>{{ item.kontrolplansId }}</td>
            <td>
              <form>
                <input v-model="aktorDesignValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="aktorUdforselValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="udgivelsesDatoValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="versionValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolTypeValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues1[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="kontrolniveauValues2[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="stikproveValues[item.id]" />
              </form>
            </td>
            <td>
              <form>
                <input v-model="revDatoValues[item.id]" />
              </form>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div v-if="projectData && projectData.designDocId">
      <button @click="OpenLink('Form')" class="action-button">
        Gå til Design >
      </button>
      <button @click="OpenLink('FormProjektering')" class="action-button">
        Gå til projektering >
      </button>
      <button @click="OpenLink('FormUdforsel')" class="action-button">
        Gå til udførsel >
      </button>
    </div>
    <button @click="designSaveForm" class="action-button">Gem</button>
    <div v-if="showNotification" class="notification">Data gemt!</div>

    <!-- <p v-if="linkCreated">
      kopier dette link og del med dem der skal udfylde det: {{linkCreated}}
    </p> -->
  </body>
</html>
