:root {
  --headlinebackground: #555;
  --editableField: #555;
}

body {
  background-color: #f8f2f2;
  font-family: Arial, sans-serif;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--headlinebackground);
  border-radius: 5px;
  background-color: #222;
  color: #fff;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

table {
  margin-top: 30px;
  margin-bottom: 10px;
  margin-right: 50px;
  max-width: 100%;
  border-collapse: collapse;
  width: 100%; /* Make the table responsive */
}

th {
  padding-inline: 4px;
  border: 1px solid var(--headlinebackground);
  /* white-space: snowrap; */
  padding: 10px;
}
td {
  border: 1px solid var(--headlinebackground);
  padding-inline: 4px;
}
select {
  width: 100%;
}

.full-width-input {
  width: 100%;
  box-sizing: border-box;
}

.headline {
  background-color: var(--headlinebackground);
}

.tables-container {
  display: flex;
  justify-content: space-between; /* Adjust spacing between tables */
}

.kontrolplan-tables {
  /* display: flex;  det gav sgu et margin*/
  justify-content: space-between; /* Adjust spacing between tables */
}

.blue-header {
  background-color: #007bff;
  /* white-space: nowrap; */
  text-align: left;
}
.browngrey-header {
  background-color: #2d2821;
  /* white-space: nowrap; */
  color: #f8f2f2;
  text-align: left;
}

table tbody {
  margin-right: 15px; /* Adjust the margin as needed */
}

/* Style table rows alternately for better readability */
table tbody tr:nth-child(even) {
  background-color: #f8f8f8; /* Softer background color for alternating rows */
}
.no-wrap {
  white-space: nowrap; /* Prevent wrapping for this column */
}

.item-nr {
  white-space: nowrap;
  width: 70px;
}

.block-button {
  display: block;
  margin-block: 7px; /* Adjust the margin-top as needed to control the spacing */
}

.width1 {
  width: 1%;
  /* max-width: 50px; */
}

.min-width40 {
  max-width: 30px;
  margin-bottom: 7px;
}

.min-width180 {
  width: 160px;
}

.min-width250 {
  min-width: 260px;
  max-width: 330px;
}

.invisible-column {
  width: 20px;
  padding: 0;
  border: none;
  visibility: hidden;
}

/* action button */
.action-button {
  background-color: #007bff; /* Button background color */
  color: #fff; /* Button text color */
  border: none;
  border-radius: 5px;
  padding: 10px 20px; /* Adjust padding as needed */
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 20px; /* Adjust the font size as needed */
  margin-bottom: 20px;
}

/* Hover effect for action buttons */
.action-button:hover {
  background-color: #0056b3; /* Change background color on hover */
}

/* Add margin to space out buttons if needed */
.action-button + .action-button {
  margin-left: 10px; /* Adjust margin as needed */
}

.left-align {
  text-align: left;
}

.notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: green;
  color: white;
  padding: 10px;
  border-radius: 5px;
}

.square-container {
  background-color: #3e3e3e;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.section {
  flex: 1;
  padding: 10px;
  margin-inline: 50px;
}

.input-section {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
}

.square-container p {
  margin-block: 5px; /* Adjust the margin as needed */
}

.horizontal-line {
  display: flex; /* Use flexbox to place elements side by side */
  gap: 7px; /* Adjust the gap between the input fields as needed */
}

.sameline-ptag {
  display: flex;
}

.margin-bemerkninger {
  margin: 5px;
}
